
.subscribe-button {
    background-color: rgb(200,0,0);
    color: white;
    border: none;
    height: 36px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;
    transition: opacity 1s;
}

.subscribe-button:hover{
   opacity:  0.8;
}

.subscribe-button:active{
   opacity: 0.4;

}

.join-button {
    background-color: white;
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    height :36px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 1s,
    color 1s;

}

.join-button:active{
    opacity: 0.7;   
}

.join-button:hover {
    background-color: rgb(66, 141, 233);
    color: white;
    
}

.tweet-button {
    background-color: rgb(2, 158,255);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}

.tweet-button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
.tweet-button:active{
    opacity:0.7;
}
